<div class="col-4" style="margin-right: 0px;margin-bottom: 4px;float: left;">
    <div class="card col-12">
        <div class="card-body" style="padding-bottom: 0px;">
            <h5 class="card-title"><%= post.title %>
          </h5>
            <p class="card-text"><%= post.text %></p>
           
           
            <div class="row">
                <div class="col-6">
                    <i class="fas fa-eye"></i> <%= post.views %> Views
                </div>
                <div class="col-6" style="font-size: 14px;color:#8a8a8a;">Author: Richard</div>
            </div>
            <hr>
            <p style="margin-left: -30px;
            margin-right: -30px;
            font-size: 11px;">
              <a href="#" class="card-link" >QmXKsFjFnTX3d7wjqbdotq1hko5LcQhE6K2pLweGzAnJ3R</a>
          </p>
          </div>
    </div>
    
  </div>